flows/NewContactFlow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>NewContactAssignment</name>
        <label>NewContactAssignment</label>
        <locationX>479</locationX>
        <locationY>99</locationY>
        <assignmentItems>
            <assignToReference>NewContact.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewContact.FirstName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NewContactCreateRecord</targetReference>
        </connector>
    </assignments>
    <interviewLabel>NewContactFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NewContactFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>NewContactCreateRecord</name>
        <label>NewContactCreateRecord</label>
        <locationX>814</locationX>
        <locationY>106</locationY>
        <inputReference>NewContact</inputReference>
    </recordCreates>
    <screens>
        <name>New_Contact</name>
        <label>New Contact</label>
        <locationX>304</locationX>
        <locationY>109</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>NewContactAssignment</targetReference>
        </connector>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>New_Contact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>NewContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
